.range-slider {
  width: 100%;
  input {
    height: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    background: #111;
    outline: none;
    border-radius: 55px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    background: #ff4d4d;
    border-radius: 50px;
    box-shadow: 0px 0px 1px 7px #ff4d4d;
  }
  input {
    width: 100%;
  }
  .range-images {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
    img {
      width: 180px;
      height: 100px;
      object-fit: contain;
      object-position: center;
      cursor: pointer;
      padding: 5px;
      border-radius: 12px;
    }
    .card{
        background-color: #fff;
        border: 2px solid #fff;
        transition: 0.5s;
        border-radius: 15px;
    }
    p{
        opacity: 0;
        transition: 0.5s;
        margin-bottom: 5px;
        text-align: center;
    }
    .active {
      border: 2px solid #FF413B;
      p{
        opacity: 1;
      }
    }

  }
  .range-main-img {
    margin-top: 60px;
    height: 330px;
    width: 100%;
    padding: 20px;
    object-position: center;
    object-fit: contain;
  }
}
.range-labels {
  display: flex;
  p {
    &:nth-child(1) {
      color: red;
      margin-left: 10%;
    }
    &:nth-child(2) {
      color: red;
      margin-left: 23%;
    }
    &:nth-child(3) {
      color: red;
      margin-left: 22.7%;
    }
    &:nth-child(4) {
      color: red;
      margin-left: 200px;
    }
  }
}

/* Custom fill color up to the thumb for WebKit browsers */
.range-5::-webkit-slider-runnable-track {
  border-radius: 50px;
  background: linear-gradient(to right, #ff4d4d 11%, #ff4d4d 10%, #fff 11%);
}

.range-10::-webkit-slider-runnable-track {
  border-radius: 50px;
  background: linear-gradient(to right, #ff4d4d 35%, #ff4d4d 35%, #fff 35%);
}

.range-15::-webkit-slider-runnable-track {
  border-radius: 50px;
  background: linear-gradient(to right, #ff4d4d 60%, #ff4d4d 60%, #fff 60%);
}
.range-20::-webkit-slider-runnable-track {
  border-radius: 50px;
  background: linear-gradient(to right, #ff4d4d 100%, #ff4d4d 100%, #fff 100%);
}
