$primary-color:#FF413B;
$secondary-color:#000;

#order{

    .order-outer{
        padding-top: 133px;
        padding-bottom: 133px;
        border-top-right-radius:12px;
        border-top-left-radius:12px;
        background-color:#fff;
    }
    .order-cards{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        .order-card{
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            max-width: 310px;
            height: 320px;
            width: 100%;
            h1{
                font-size: 28px;
                font-family: Inter;
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                line-height: 160%; /* 19.6px */
                word-spacing: 1px;
                color: #666666;
            }
            img{
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}

#partner{
    .partner-outer{
        padding-top: 60px;
        padding-bottom: 60px;
        background-color:#fff;
    }
    h1{
        color: $secondary-color;
        font-size: 72px;
        font-weight: 400;
        line-height: 100%; /* 72px */
        margin-bottom: 30px;
    }
    p{
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
        opacity: 0.5;
        max-width: 720px;
        width: 100%;
        margin-bottom: 80px;
    }
}

#contact{
    .contact-outer{
        padding-top: 90px;
        padding-bottom: 90px;
        background-color:#fff;  
        border-bottom-left-radius: 12px;
        border-bottom-right-radius:12px;
    }
}