

#analysis{
    .analysis-outer{
        padding-top: 90px;
        padding-bottom: 60px;
        background-color: #fff;
    }
    .analysis-content{
        display: flex;
        align-items: center;
        .analysis-left{
            h1{
                color: var(--Gray-900, #101828);
                font-family: Inter;
                font-size: 36px;
                font-weight: 600;
                letter-spacing: -0.72px;
                margin-bottom: 8px;
            }
            p{
                color: var(--Gray-500, #667085);
                font-family: Inter;
                font-size: 18px;
                font-weight: 400;
                line-height: 150%; /* 27px */
                margin-bottom: 54px;
            }
            .left-cards{
                display: grid;
                grid-template-columns: auto auto;
                .counter-number{
                    display: flex;
                    align-items: center;
                    span{
                        display: inline-block;
                        width: 50px;
                        font-size: 60px;
                        height: 50px;
                        font-weight: 600;
                        color: #FF413B;
                        margin-bottom: 50px;
                    }
                }
                .card{
                    max-width: 300px;
                    width: 100%;
                    h1{
                        color: #FF413B;
                        font-family: Inter;
                        font-size: 60px;
                        font-weight: 600;
                        line-height: 110%; /* 66px */
                        margin-bottom: 20px;
                    }
                    h4{
                        color: var(--Gray-900, #101828);
                        font-family: Inter;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 100%; /* 18px */
                        margin-bottom: 8px;
                    }

                    p{
                        color: var(--Gray-500, #667085);
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 145%; /* 23.2px */
                    }
                }
            }
        }
        .analysis-right{
            object-fit: contain;
        }
    }
}

#advantage{
    .advantage-outer{
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
}

#contact{
    .contact-outer{
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

#vacancy{
    h1{
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 40px;
    }
}