#vacancy{
    .vacancy-outer{
        padding-top: 90px;
        padding-bottom: 90px;
        background-color: #fff;
    }
    .swiper-slide{
        width: 300px !important;
        position: relative;
        border-radius:16px;
        height: 200px;
        background-color:#F5F5F5;
        margin-left: 6px;
        cursor:pointer;
        transition:0.5s;
        overflow: hidden;
        .vacancy-slide-title{
            position:absolute;
            top: 16px;
            left: 16px;
            background-color: #fff;
            color:#FF413B;
            padding: 10px 20px;
            border-radius: 50px;
            line-height: 100%; /* 14px */
        }
        .vacancy-slide-description{
            position:absolute;
            bottom: 24px;
            left: 16px;
            max-width: 280px;
            width:100%;
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%; /* 25.2px */
        }
        @media (min-width:600px) {
            width:380px !important;
            .vacancy-slide-description{
                position:absolute;
                bottom: 24px;
                left: 16px;
                max-width: 302px;
                width:100%;
                color: #000;
                font-family: Inter;
                font-size: 18px;
                font-weight: 400;
                line-height: 140%; /* 25.2px */
            }
        }
    }
}

.mySwiper{
    display:none;
    @media (min-width:1330px) {
        display:flex;
    }
}

.rfm-marquee-container {
    .swiper-slide{
        width:350px !important;
    }
    @media (min-width:500px) {
        .swiper-slide{
            width:380px !important;
        }
    }
    @media (min-width:1330px){
        display:none !important;
    }
    .swiper-slide{
        margin-left:20px;
    }
}