footer{
    margin-top: 23px;
    margin-bottom:23px;
    overflow-x: hidden;
    .footer-outer{
        padding: 60px 10px 20px;
        background-color:#fff;
        border-radius:32px;
    }
    .footer-top-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 32px;
        gap: 40px;

        .footer-left{
            display: grid;
            width: 100%;
            gap: 20px;
            grid-template-columns: auto auto;
            justify-content: space-between;
            ul{
                &:nth-child(2){
                    margin-top: 10px;
                }
                &:nth-child(3){
                    margin-top: -80px;

                }
                &:nth-child(5){
                    margin-top: -80px;
                }
                &:nth-child(4){
                    margin-top: 0px;
                }
            }
        }
        .footer-right{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .contact-subtitle{
                color: #000;
                opacity: 0.5;
            }
            .footer-medias{
                display: grid;
                grid-template-columns: auto auto;
                gap: 8px;
                a{
                    border: 1px solid #000;
                    border-radius:50px;
                    display: flex;
                    align-items: center;
                    justify-content:center;
                    width:40px;
                    height:40px;
                    &:hover{
                        border-color: #FF413B;
                    }
                }
            }
        }
        .footer-logo{
                display: flex;
                gap: 8px;
                height: 30px !important;
                img{
                    width: 30px;
                    height: 30px;
                }
                p{
                    font-family: Poppins;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 32px;
                    color: black;
                    span{
                        color: #FF413B;
                    }
                }
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
            li{
                a{
                    color: #121212;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%; /* 16px */
                    transition: 0.5s;
                    &:hover{
                        color:#FF413B;
                    }
                }
            }
        }

    }
 
    .footer-bottom-content{
        margin-top: 10px;
        padding-top: 20px;
        border-top: 2px solid #EEE;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            gap: 30px;
            .footer-bottom-title{
                color: #121212;
                font-family: Inter;
                font-size: 12px;
                font-weight: 400;
                line-height: 100%; /* 11px */
            }
            .bottom-right-title{
                font-size: 14px;
                span{
                    font-weight: 600;
                }
            }
        }
    }

    @media (min-width:500px) {
        .footer-top-content{
            .footer-left{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                ul{
                    &:nth-child(2){
                        margin-top: 0px;
                    }
                    &:nth-child(3){
                        margin-top: 0px;
                    }
                    &:nth-child(5){
                        margin-top: 0px;
                    }
                    &:nth-child(4){
                        margin-top: 0px;
                    }
                }
            }
            .footer-right{
                .footer-medias{
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 10px;
                    a{
                        border: 1px solid #000;
                        border-radius:50px;
                        display: flex;
                        align-items: center;
                        justify-content:center;
                        width:45px;
                        height:45px;
                        &:hover{
                            border-color: #FF413B;
                        }
                    }
                }
            }
        }

    }

    @media (min-width:830px) {
        .footer-top-content{
            .footer-left{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 30px;
                width: 100%;
            }
                ul{
                    gap: 20px;
                }
           
        }
    }

    @media (min-width:1250px) {
        .footer-top-content{
           display: grid;
           grid-template-columns: 70% 25%;
           justify-content: space-between;
           margin-bottom: 57px;
           gap: 60px;
        }
   }
}

